TetrisGame/Intermediate/CachedAssetRegistry.bin
TetrisGame/Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
TetrisGame/Intermediate/Config/CoalescedSourceConfigs/EditorUserSettings.ini
TetrisGame/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
TetrisGame/Saved/Config/Windows/EditorPerProjectUserSettings.ini
TetrisGame/Saved/Config/Windows/EditorUserSettings.ini
TetrisGame/Saved/Config/Windows/Engine.ini
TetrisGame/Saved/Logs/TetrisGame-backup-2017.01.04-19.20.07.log
TetrisGame/Saved/Logs/TetrisGame.log
TetrisGame/Saved/Logs/UE4CC-Windows-CC34437A4440DF0E0DA067AA998869E6/CrashReportClient.ini
